.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw !important;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  /* background-color: coral; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('/public/images/int1.jpg') center/cover no-repeat;
  color: white; */
}
#hero-video {
  position: absolute;
  height: 100%;
  width: 100vw !important;
  top: 0;
  left: 0;
  object-fit: cover;
  /* bottom: 0;
  right: 0; */
}
.hero h1 {
  font-size: 2rem;
}
.hero-wrapper {
  position: absolute;
  bottom: 0;
  left: 1rem;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: rgb(239, 239, 213, 0.5); */
  /* background-color: red; */
  color: white;
  border-radius: 1rem;
  height: 10rem;
  padding: 0 1rem;
}
.hero-wrapper p {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  /* .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
      url('/public/images/int1.jpg') center/cover no-repeat;
  } */
  .hero h1 {
    font-size: 2rem;
  }
  .hero-text {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.2rem;
  }

  .hero-wrapper p {
    font-size: 1rem;
    width: 90%;
  }
}
