/* * {
  margin: 0;
  padding: 0;
} */
.body {
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 98.3vw; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}

.spinner-title {
  position: absolute;
  top: 1rem;

  text-align: center;
}

.spinner-title h2 {
  font-size: 1.4rem;
  color: var(--primary);
  font-weight: bold;
  text-transform: capitalize;
}

.spinner-title p {
  color: var(--gray);
  font-size: 1.2rem;
}

.box {
  position: relative;
  height: 240px;
  width: 240px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
  -webkit-animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
    -webkit-transform: perspective(1000px) rotateY(360deg);
    -moz-transform: perspective(1000px) rotateY(360deg);
    -ms-transform: perspective(1000px) rotateY(360deg);
    -o-transform: perspective(1000px) rotateY(360deg);
  }
}

.box span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.123));
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -moz-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -ms-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -o-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

/* .box span; */
/* footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
} */

@media screen and (max-width: 768px) {
  .box {
    height: 180px;
    width: 180px;
  }

  .spinner-title h1 {
    font-size: 2rem;
    color: var(--primary);
  }

  .spinner-title p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200) {
  .box {
    height: 340px;
    width: 340px;
  }
}