/* h1 {
  font-size: 2rem;
  margin: 0;
}
a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
} */
.container-flex p {
  font-size: 1rem;
}
.container-flex h2 {
  font-size: 22px;
  margin: 0.5rem 0;

}
strong {
  font-weight: 700;
}
.article-image-main{
  margin: 0.5rem 0;
  border-radius: 4px;
  inline-size: 870px;
  block-size: 580px;

}
.article-image-body{
  border-radius: 4px;
  inline-size: 200px;
  block-size: 134px;
}
.subtitle {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
  color: #1792d2;
  letter-spacing: 0.05em;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.article-title {
  font-size: 22px;
}

.article-read-more,
.article-info,.article-read-more-p{
  font-size: 0.875rem;
}

.article-read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}
.article-read-more-p {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}
.article-info {
  margin: 0.5rem 0;
}

.container-flex {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

/* img {
  max-width: 100%;
  display: block;
} */
.b-main {
  max-width: 75%;
}
.article-body {
  width: 100%;
  text-align: justify;
}
.sidebar {
  max-width: 23%;
}

@media (max-width: 1050px) {
  .container-flex {
    flex-direction: column;
  }
  .site-title,
  .subtitle {
    width: 100%;
  }
  .b-main {
    max-width: 100%;
  }
  .sidebar {
    max-width: 100%;
  }
}
@media (max-width:1080px) {
  .article-image-main{
    inline-size: 100%;
    block-size: 100%;
  }
  
}

/* articles */
.article-featured {
  border-bottom: #707070 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  position: relative;
  order: 1;
}

.article-recent-secondary {
  order: 2;
}

@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 68%;
  }

  .article-recent-secondary {
    width: 30%;
  }
}

/* single blog */
.single-blog {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
}



