/* h1 {
  font-size: 2rem;
  margin: 0;
}
a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
} */
.container-flex p {
  font-size: 1rem;
}
.container-flex h2 {
  font-size: 1.2rem;
}
strong {
  font-weight: 700;
}
.subtitle {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
  color: #1792d2;
  letter-spacing: 0.05em;
  font-family: 'Ubuntu Bold', sans-serif;
}
.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}
.article-info {
  margin: 2em 0;
}

.container-flex {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

/* img {
  max-width: 100%;
  display: block;
} */
.b-main {
  max-width: 75%;
}
.article-body {
  width: 100%;
  text-align: justify;
}
.sidebar {
  max-width: 23%;
}

@media (max-width: 1050px) {
  .container-flex {
    flex-direction: column;
  }
  .site-title,
  .subtitle {
    width: 100%;
  }
  .b-main {
    max-width: 100%;
  }
  .sidebar {
    max-width: 100%;
  }
}

/* articles */
.article-featured {
  border-bottom: #707070 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 68%;
  }

  .article-recent-secondary {
    width: 30%;
  }
}

/* single blog */
.single-blog {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
}
.single-blog-img {
  height: 400px;
  width: 600px;
  object-fit: contain;
}

.single-blog-h4 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: var(--primary);
}
.single-blog-p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
