:root {
  --primary: #1aac83;
  --error: #e7195a;
}
.create-blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.create-blog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: brown; */
}
.create-blog-form input ,textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 1000px;
}
.create-blog-form label{
  font-size: 15px;
}
.create-blog-form button{
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-family-sans-serif);
}
.form-btn-input{
  text-align: center;
  width: 88%;
}
.create-blog-form button:hover {
  background-color: var(--red);
}

/* label,
input {
  display: block;
} */

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}
