:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #fd2d55;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --primary-2: #432ca2;
  --primary-3: #1d1b26;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Inter UI', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-size: 62.5%;
  font-family: var(--font-family-sans-serif);
  overflow-x: hidden;
}
.globe .start-btn {
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  width: 400px;
  margin: auto;
  font-size: 1.5rem;
  padding: 2rem;
  color: var(--dark);
  font-weight: 400;
  border: 0.1px solid black;
  background-color: #4f51532c;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 2rem;
}

.globe .start-btn:hover {
  color: #000000;
  padding: 2rem;
}
.btn {
  background-color: var(--primary);
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--red);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.globe {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
}

/* .globe button {
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  font-weight: bold;
} */

@media screen and (max-width: 800px) {
  #video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
  }
}

.sp-btn {
  color: deeppink;
  border: 1px solid deeppink;
  padding: 2px 4px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.sp-btn:hover {
  background-color: deeppink;
  color: white;
}
